/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Adjust transparency here */
    z-index: -1;
}

.header {
    height: 600px; /* Adjust height as needed */
    position: relative; /* Ensure the header is positioned relative */
    overflow: hidden;
    color: white;
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure header is above images */
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust transparency here */
    z-index: 1;
}

.header .container {
    position: relative;
    z-index: 3; /* Ensure container is above the header */
}

.header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.header p.lead {
    font-size: 1.5em;
    margin: 10px 0 20px 0;
}

.header p {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Navbar Styles */
.navbar {
    z-index: 4; /* Ensure navbar is on top of all other elements */
    margin-top: -25px; /* Move the navbar to the very top */
    position: relative;
}

/* Button Styles */
.btn-lg, .btn-primary, .btn-warning {
    display: block;
    justify-content: center;
    width: 200px; /* Adjust as needed */
    border-radius: 8px;
    box-shadow: none;
    font-size: 1.1em;
    padding: 10px 20px;
    background-color: #de1912; /* Default background color */
    border-color: #de1912; /* Default border color */
    color: white; /* Text color */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-lg:hover, .btn-primary:hover, .btn-warning:hover {
    background-color: #0056b3; /* Change background to blue on hover */
    color: white; /* Ensure text remains white */
    transform: scale(1.1); /* Scale the button up to 1.1 times its original size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow for a popping effect */
}

/* Background Image Animation */
@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}

.header .background, .who-we-are-images .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: fade 20s infinite; /* Adjust the duration */
    z-index: 1; /* Ensure background is behind header elements */
}

.header .background.bg1 {
    background-image: url('../images/header-background.jpg');
}

.header .background.bg2 {
    background-image: url('../images/electrician-1080554_1280.jpg');
    animation-delay: 10s; /* Adjust the delay */
}

.who-we-are-images .background.img1 {
    background-image: url('../images/heat-pump.jpeg');
}

.who-we-are-images .background.img2 {
    background-image: url('../images/heat-pump1.jpeg');
    animation-delay: 7s; /* Adjust the delay */
}

.who-we-are-images .background.img3 {
    background-image: url('../images/heat-pump3.jpeg');
    animation-delay: 12s; /* Adjust the delay */
}

.who-we-are-images {
    position: relative;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Add a more prominent shadow */
    padding: 10px; /* Add some padding */
    background-color: #fff; /* Add a background color */
}

/* Banner Section */
.banner-section {
    padding-top: 50px; /* Adjust this value to control the space between header and banner */
}

.banner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banner .card {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px); /* Responsive three columns */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
    }

    .banner .card {
        flex: 1 1 100%; /* Stack cards on small screens */
    }
}

/* Who We Are Section */
.who-we-are {
    background-color: #f8f9fa;
}

.who-we-are img {
    width: 130%; /* Increase size by 30% */
    height: 500px;
    border-radius: 8px;
}

.who-we-are-content {
    padding-left: 20px; /* Adjust as needed */
}

.who-we-are h2 {
    font-size: 1em;
    font-weight: ;
    color: #181a1c;
}

.who-we-are p {
    font-size: 1.1em;
    color: #555;
}

.who-we-are h4 {
    font-size: 1.8em;
    font-weight: bold;
    color: #181a1c;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.horizontal-list li {
    margin: 0 10px;
    font-size: 1.1em;
    color: #333;
}

.horizontal-list li i {
    color: #333; /* Reverted icon color to default */
}

.who-we-are .btn {
    background-color: #de1912; /* Default background color */
    border-color: #de1912; /* Default border color */
    color: white; /* Text color */
    border-radius: 8px;
    font-size: 1.1em;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.who-we-are .btn:hover {
    background-color: #0056b3; /* Change background to blue on hover */
    color: white; /* Ensure text remains white */
    transform: scale(1.1); /* Scale the button up to 1.1 times its original size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow for a popping effect */
}

/* Services Section */
.services {
    padding: 40px 0;
    background-color: #f8f9fa;
}

.services .card {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.services .card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    box-shadow: #181a1c;
}

.services .card-text {
    font-size: 1.1em;
    color: #555;
}

.services .btn {
    display: block;
    width: 100%;
    border-radius: 8px;
    box-shadow: none;
    font-size: 1.1em;
    padding: 10px 20px;
    background-color: #de1912; /* Default background color */
    border-color: #de1912; /* Default border color */
    color: white; /* Text color */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.services .btn:hover {
    background-color: #0056b3; /* Change background to blue on hover */
    color: white; /* Ensure text remains white */
    transform: scale(1.1); /* Scale the button up to 1.1 times its original size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow for a popping effect */
}

.contact {
    padding: 40px 0;
    background-color: #f8f9fa;
}

.contact h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
    font-weight: bold;
    color: #007bff;
}

.contact form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact form:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.contact form .form-control {
    border-radius: 8px;
    box-shadow: none;
    font-size: 1.1em;
    padding: 15px;
    transition: border-color 0.3s ease;
}

.contact form .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.contact form .btn {
    border-radius: 8px;
    box-shadow: none;
    font-size: 1.1em;
    padding: 10px 20px;
    background-color: #de1912; /* Default background color */
    border-color: #de1912; /* Default border color */
    color: white; /* Text color */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.contact form .btn:hover {
    background-color: #0056b3; /* Change background to blue on hover */
    color: white; /* Ensure text remains white */
    transform: scale(1.1); /* Scale the button up to 1.1 times its original size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow for a popping effect */
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer h2, .footer h3 {
    margin: 0 0 10px 0;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin: 5px 0;
}

.footer p {
    margin: 5px 0;
}
